[submodule "src/person-microservice"]
	path = src/person-microservice
	url = https://github.com/alex2021cyberhuman-team/person-microservice.git
	branch = develop
[submodule "src/auth-microservice"]
	path = src/auth-microservice
	url = https://github.com/alex2021cyberhuman-team/auth-microservice.git
	branch = develop
[submodule "src/articles-microservice"]
	path = src/articles-microservice
	url = https://github.com/alex2021cyberhuman-team/articles-microservice.git
	branch = develop
[submodule "src/likes-microservice"]
	path = src/likes-microservice
	url = https://github.com/alex2021cyberhuman-team/likes-microservice.git
[submodule "src/comments-microservice"]
	path = src/comments-microservice
	url = https://github.com/alex2021cyberhuman-team/comments-microservice
[submodule "src/public-frontend"]
	path = src/public-frontend
	url = https://github.com/alex2021cyberhuman-team/public-frontend.git
	branch = develop
[submodule "src/image-microservice"]
	path = src/image-microservice
	url = https://github.com/alex2021cyberhuman-team/image-microservice.git
	branch = develop
